<div>
  <sui-progress class="indicating" [value]="ia_val" [showProgress]=true [maximum]=100 [precision]=0>
    {{image_analysis}}
  </sui-progress>

  <sui-progress class="indicating" [value]="fe_val" [showProgress]=true [maximum]=100 [precision]=0>
    {{feature_extraction}}
  </sui-progress>

  <sui-progress class="indicating" [value]="m_val" [showProgress]=true [maximum]=100 [precision]=0>
    {{matching}}
  </sui-progress>

  <sui-progress class="indicating" [value]="r_val" [showProgress]=true [maximum]=100 [precision]=0>
    {{reconstruction}}
  </sui-progress>

  <sui-progress class="indicating" [value]="me_val" [showProgress]=true [maximum]=100 [precision]=0>
    {{mesh}}
  </sui-progress>

</div>

<sui-dimmer class="inverted page" [(isDimmed)]="dim_for_load">
  <h2 class="ui header">
    <div class="ui text loader">Finishing up...</div>
  </h2>
</sui-dimmer>