.tips {
  color: #444;
  text-align: center;
}

#images {
	padding-left: 15px;
	text-align: left;
}

.fileContainer {
    overflow: hidden;
    position: relative;
}

.fileContainer [type=file] {
	opacity: 0;
  display: block;
  top: 0;
  /*cursor: inherit;
  font-size: 999px;
  filter: alpha(opacity=0);
  min-height: 100%;
  min-width: 100%;
  opacity: 0;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;*/
}

.img-wrap {
  position: relative;
}

.img-wrap .close-button {
  /*position: absolute;*/
  top: 2px;
  right: 2px;
  z-index: 100;
}