<!--The content below is only a placeholder and can be replaced.-->
<!-- <sui-tabset>
  <div class="ui secondary menu site-header">
    <a class="item" suiTabHeader="home">Origami</a>
    <a class="item" suiTabHeader="abt">About</a>
    <a class="item" suiTabHeader="contact">Contact</a>
  </div>
  <div class="ui segment" suiTabContent="home">
    <app-land></app-land>
  </div>
  <div class="ui segment" suiTabContent="abt">Second tab!</div>
  <div class="ui segment" suiTabContent="contact">Third tab!</div>
</sui-tabset> -->
<sui-tabset>
  <div class="ui secondary pointing menu site-header">
    <a class="item active" suiTabHeader="home">
      Origami
    </a>
    <a class="item" suiTabHeader="samp">
      Samples
    </a>
    <a class="item" suiTabHeader="abt">
      About
    </a>
    <a class="item" suiTabHeader="contact">
      Contact
    </a>
  </div>

  <div suiTabContent="home">
    <app-land></app-land>
  </div>
  <div class="ui segment" suiTabContent="samp">This will contain sample results.</div>
  <div class="ui segment" suiTabContent="abt">secoond</div>
  <div class="ui segment" suiTabContent="contact">Third tab!</div>
</sui-tabset>
