<div class="normal">
  <div #modelContainer></div>
  <div class="ui equal width grid">
    <div class="column">

      <a class="ui blue button" href="assets/webgl/scene_mesh_texture.obj" download>
        Download Sample #1?
      </a>
    </div>
    <div class="ui segment column">
      <div class="ui stackable five column grid" id="images">

          <div class="column"
          *ngFor="let image of images">
            <div class="ui compact segment"
              [@imageState]="image.state"
              (click)="toggleState()"
            >
              <img class="ui small image" [src]="image.src">
            </div>
          </div>

        </div>
    </div>
  </div>
  <button class="ui left labeled icon button">
    <i class="left arrow icon"></i>
    Previous
  </button>
  <button class="ui right labeled icon button">
    <i class="right arrow icon"></i>
    Next
  </button>
</div>