#inner_content {
  text-align: center;
  width: 100% !important;
}

.left,
.right {
  position: absolute;
  /* color: #fff; */
  font-family: Geneva, sans-serif;
}

.left {
  bottom: 1em;
  left: 1em;
  text-align: left;
}

.right {
  top: 0;
  right: 0;
  text-align: right;
}

a {
  color: #ff641c;
}

a:hover {
  color: #bb4b17;
}