<div *ngIf="input_page; else processing">
  
  <div class="ui tertiary inverted yellow segment">
    <div class="tips">
      <h4>Uploading will take a while. Please be patient and wait for it to finish.</h4>
      <label class="fileContainer">
        <input type="file" (change)="fileChangeEvent($event)" accept="image/*" placeholder="Upload file..." multiple />
        <div class="ui teal button">Browse</div>
        {{uploaded.length}} images selected.
      </label>
      <br><br>
      <div class="ui buttons">
        <button class="ui positive button" id="up" (click)="upload()">
          Upload</button>
        <div class="or"></div>
        <button class="ui button" id="can" (click)="removeAll()">Cancel</button>
      </div>
      <br><br>
      <div id="parent">
        <div class="ui stackable five column grid" id="images">

          <div class="column"
          *ngFor="let image of uploaded">
            <div class="ui compact segment"
              [@imageState]="image.state"
              (mouseenter)="image.overlay()"
              (mouseleave)="image.no_overlay()"
            >
              <img class="ui small image"
                *ngIf="!image.hidden" [src]="image.data">
    
              <sui-dimmer [(isDimmed)]="image.dimmed"
                (click)="image.toggleState(); removeOne(image)">
                <div>
                  <i class="trash alternate icon"><br></i>Remove?
                </div>
              </sui-dimmer>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<sui-dimmer class="inverted" [(isDimmed)]="dim_for_load">
  <h2 class="ui header">
    <div class="ui text loader">
      <span>Uploading...</span>
      <br>
      <span>Please wait.</span>
    </div>
  </h2>
</sui-dimmer>

<sui-dimmer class="inverted page" [(isDimmed)]="dim_for_add">
  <h2 class="ui header">
    <div class="ui indeterminate text active loader">Preparing Images...</div>
  </h2>
</sui-dimmer>


<ng-template #processing>
  <router-outlet></router-outlet>
</ng-template>
