/* You can add global styles to this file, and also import other style files */
body {
	background: #fff !important;
}

canvas {
  z-index: -100000000000000000;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.centervh {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.transparent {
  background: rgba(252, 176, 148, 0) !important;
}

.normal {
  padding: 15px;
}

.site-header {
  height: 1em;
  background-color: #63ffb6;
}